NEXT_PUBLIC_SUPABASE_URL=https://iaypfgmovbfmrjumgbpu.supabase.co  
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlheXBmZ21vdmJmbXJqdW1nYnB1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIzMTcwNzQsImV4cCI6MjA5Nzg5MzA3NH0.hXQUuKSnOTeR9kxU2Uk89VdI-qnFeGF6HyVMI_MqzKI