NEXT_PUBLIC_SUPABASE_URL=https://supabase.com/dashboard/project/npjugegkzhrejepufaol
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5wanVnZWdremhyZWplcHVmYW9sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIzMTg4NTUsImV4cCI6MjA5Nzg5NDg1NX0.FKo7yh3vn7SjbKpVawlL5-diP2nbcwD1PTBBmIkMx5g
